/* ==========================================================
   LARGE LAPTOPS (max-width: 1440px)
========================================================== */
@media (max-width: 1440px) {
  .vision-mission .analytics-title {
    opacity: 0.3;
    font-size: 3.5rem;
    font-weight: lighter;
    white-space: nowrap;
  }
  .vision-block {
    gap: 2rem;
  }

  .our-vision {
    font-size: 4.5rem;
    white-space: nowrap;
  }

  .vision-block .vision-left-block,
  .vision-block .vision-right-block p {
    font-size: 1.15rem;
  }
}

/* ==========================================================
   STANDARD LAPTOPS (max-width: 1280px)
========================================================== */
@media (max-width: 1280px) {
  .our-vision {
    font-size: 4rem;
  }

  .vision-left-block {
    width: 60vw;
  }

  .vision-right-block p {
    width: 55vw;
  }

  .vision-block .vision-left-block,
  .vision-block .vision-right-block p {
    font-size: 1.1rem;
  }
}

/* ==========================================================
   TABLETS HORIZONTAL (max-width: 1024px)
========================================================== */

@media (max-width: 1024px) {
  .vision-left-block p {
    text-align: left;
  }
  .vision-mission {
    padding: 2.5em;
  }
  .vision-mission .analytics-title {
    opacity: 0.6;
    font-size: 3rem;
    justify-content: end;
  }

  .our-vision {
    font-size: 3.5rem;
  }

  .vision-left-block,
  .vision-right-block p {
    width: 70vw;
    font-size: 1.05rem;
  }

  .vision-right-block {
    align-items: flex-start;
  }

  .vision-right-block p {
    text-align: left;
  }
}
@media (max-width: 600px) {
  .vision-mission .analytics-title {
    justify-content: center;
  }
}
/* ==========================================================
   MOBILE LARGE (max-width: 600px)
========================================================== */
@media (max-width: 600px) {
  .vision-mission .analytics-title {
    font-size: 2.5rem;
  }
  .vision-mission {
    padding: 1.5em;
  }
  .our-vision {
    font-size: 2.4rem;
  }

  .vision-left-block p,
  .vision-right-block p {
    width: 90%;
    font-size: 0.95rem;
  }
}

/* ==========================================================
   MOBILE MEDIUM (max-width: 430px)
========================================================== */
@media (max-width: 430px) {
  .our-vision {
    font-size: 2rem;
  }

  .vision-left-block p,
  .vision-right-block p {
    width: 100%;
    font-size: 0.9rem;
  }
  .vision-right-block p {
    font-size: 0.9rem !important;
    line-height: 1.5 !important;
  }

  .vision-mission .analytics-title {
    font-size: 2.2rem;
  }
}

/* ==========================================================
   MOBILE SMALL (max-width: 380px)
========================================================== */
@media (max-width: 380px) {
  .our-vision {
    font-size: 2rem;
  }

  .vision-left-block p,
  .vision-right-block p {
    width: 100%;
  }
  .vision-right-block p {
    font-size: 0.8rem !important;
    line-height: 1.5 !important;
  }
  .vision-mission .analytics-title {
    font-size: 2rem;
  }
}

/* ===========================================
   block vision-mission END
=========================================== */
